.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    max-width: 1600px;
    background-color: $t-b-color;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: $white-color;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        max-width: 696px;
    }

    &__button {
        display: block;
        border: none;
        border-radius: 4px;
        padding: 10px 32px;
        min-width: 216px;
        cursor: pointer;
        color: $white-color;
        background-color: $active-text-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus {
        background-color: $b-a-c;
    }
}

